.currentDay
    padding: 20px 20px 20px 40px
    width: 25vw
    &__form
        width: 100%
        display: flex
        justify-content: center
        padding: 20px
        &--icon
            font-size: 20px
            z-index: 21
        &--input, &--button
            background-color: none
            height 30px
            border: 0
        &--input
            position relative
            padding-left: 6%
            width: 80%
            &:focus
                border: 1px solid #247ba0
        &--button
            border-radius: 50px
            i
                font-size: 150%
            &:hover, &:focus
                cursor pointer
                background-color: #247ba0
    &__imageContainer
        display: flex
        justify-content: center
        width: 100%
        &--image
            width: 280px
            height: 280px
            object-fit: cover
    &__temp
        display: flex
        margin: 20px 0
        &--grades
            font-size: 4rem
            font-weight: 400
            margin: 0
            padding: 0
        &--unit    
            margin-top: 0.4em
            font-size: 2rem
    &__details
        font-size: 1.3rem
        padding-bottom: 1.2rem
        border-bottom: 1px solid gray
        &--day
            font-weight: 800
        &--hour
            opacity: 0.6
    &__weather
        margin: 1.2rem 0
        width: 100%
        display: flex
        &--icon
            width: max-content
            margin-right: 1rem
            i 
                width: auto
                display: flex
                margin: 0
                padding: 0
        &--description
            width: 60%
            p
                width: auto
                margin: 0
                padding: 0
    &__name
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 10vh
        margin: 3rem auto 0 auto
        background-image: url("https://picsum.photos/200")
        background-repeat: no-repeat
        background-size: cover
        border-radius: 20px